<!-- Table Striped -->
<div class="block-area" id="users-list">
	<div class="message-list list-container">
		<header class="listview-header media">
			<ul class="list-inline list-mass-actions pull-left">
				<li>
					<a data-toggle="modal" href="#compose-message" title="Add" class="tooltips">
						<i class="sa-list-add"></i>
					</a>
				</li>
				<li>
					<a href="#" title="Refresh" class="tooltips">
						<i class="sa-list-refresh"></i>
					</a>
				</li>
				<li class="show-on" style="display: none;">
					<a href="#" title="Move" class="tooltips">
						<i class="sa-list-move"></i>
					</a>
				</li>
				<li class="show-on" style="display: none;">
					<a href="#" title="Delete" class="tooltips">
						<i class="sa-list-delete"></i>
					</a>
				</li>
			</ul>

			<input class="input-sm col-md-4 pull-right message-search" type="text" placeholder="Search....">
			
			<div class="clearfix"></div>
		</header>
		
		<!-- Table Striped -->
		<div class="table-custom table-responsive overflow">
			<table class="tile table table-bordered table-striped">
				<thead>
					<tr>
						<th style="width: 62px;"><input type="checkbox" class="pull-left list-parent-check"></th>
						<th>No.</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Username</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input type="checkbox" class="pull-left list-check" value=""></td>
						<td>1</td>
						<td>Jhon </td>
						<td>Makinton </td>
						<td>@makinton</td>
					</tr>
					<tr>
						<td><input type="checkbox" class="pull-left list-check" value=""></td>
						<td>2</td>
						<td>Malinda</td>
						<td>Hollaway</td>
						<td>@hollway</td>
					</tr>
					<tr>
						<td><input type="checkbox" class="pull-left list-check" value=""></td>
						<td>3</td>
						<td>Wayn</td>
						<td>Parnel</td>
						<td>@wayne123</td>
					</tr>
					<tr>
						<td><input type="checkbox" class="pull-left list-check" value=""></td>
						<td>4</td>
						<td>TB - Monthly</td>
						<td>05/04/2012</td>
						<td>Call in to confirm</td>
					</tr>
					<tr>
						<td><input type="checkbox" class="pull-left list-check" value=""></td>
						<td>5</td>
						<td>TB - Monthly</td>
						<td>06/04/2012</td>
						<td>Pending</td>
					</tr>
					<tr>
						<td><input type="checkbox" class="pull-left list-check" value=""></td>
						<td>6</td>
						<td>TB - Monthly</td>
						<td>07/04/2012</td>
						<td>Call in to confirm</td>
					</tr>
					<tr>
						<td><input type="checkbox" class="pull-left list-check" value=""></td>
						<td>7</td>
						<td>TB - Monthly</td>
						<td>08/04/2012</td>
						<td>Call in to confirm</td>
					</tr>
					<tr>
						<td><input type="checkbox" class="pull-left list-check" value=""></td>
						<td>8</td>
						<td>TB - Monthly</td>
						<td>09/04/2012</td>
						<td>Call in to confirm</td>
					</tr>
					<tr>
						<td><input type="checkbox" class="pull-left list-check" value=""></td>
						<td>9</td>
						<td>TB - Monthly</td>
						<td>09/04/2012</td>
						<td>Call in to confirm</td>
					</tr>
					<tr>
						<td><input type="checkbox" class="pull-left list-check" value=""></td>
						<td>10</td>
						<td>TB - Monthly</td>
						<td>09/04/2012</td>
						<td>Call in to confirm</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<footer class="listview-header media">
			<div class="row">
				<div class="col-md-2">
					<ul class="list-inline list-mass-actions">
						<li>
							<a data-toggle="modal" href="#compose-message" title="Add" class="tooltips">
								<i class="sa-list-add"></i>
							</a>
						</li>
						<li>
							<a href="#" title="Refresh" class="tooltips">
								<i class="sa-list-refresh"></i>
							</a>
						</li>
						<li class="show-on" style="display: none;">
							<a href="#" title="Move" class="tooltips">
								<i class="sa-list-move"></i>
							</a>
						</li>
						<li class="show-on" style="display: none;">
							<a href="#" title="Delete" class="tooltips">
								<i class="sa-list-delete"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-10">
					<nav class="pull-right m-t-5 m-b-0 ">
						<ul class="pagination">
							<li><a href="#" aria-label="Previous"><span aria-hidden="true">&lt;&lt;</span></a></li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#" aria-label="Next"><span aria-hidden="true">&gt;&gt;</span></a></li>
						</ul>
					</nav>
					<div class="clearfix"></div>
				</div>
				
					
				
			</div>
		</header>
	</div>
</div>